@page
@model ProjektASP.Pages.JoinEventModel

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.SpotsAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.SpotsAvailable)
        </dd>
    </dl>
</div>
<div class="d-flex justify-content-center py-5">
    @if (Request.Method == "POST")
    {
<div class="d-flex flex-column py-2">
    <h2>Successfully joined @Model.Event.Title! See you there!</h2>
    <div class="d-flex justify-content-center">
        <a asp-page="/Event" type="button" class="btn bg-dark text-light m-2 p-2">View More Events</a>
        <a asp-page="/MyEvents" type="button" class="btn bg-dark text-light m-2 p-2">View Your Events</a>
    </div>
</div> }
else
{
    if (Model.Event.SpotsAvailable > 0 && !Model.Attendee.Events.Contains(Model.Event))
    {
        <form asp-route-id="@Model.Event.Id">
            <input type="submit" class="btn bg-dark text-light m-2 p-2 rounded" value="Join This Event" />
        </form> 
    }
    else if (Model.Event.SpotsAvailable <= 0)
    {
        <form>
            <input type="submit" class="btn bg-danger text-light m-2 p-2 rounded disabled" value="No tickets available" />
        </form> 
    }
    else if (Model.Attendee.Events.Contains(Model.Event))
    {
        <form>
            <input type="submit" class="btn bg-warning text-light m-2 p-2 rounded disabled" value="Already joined!" />
        </form>        
    }
}
</div>
